node_modules/
allure-results/
playwright-report/
tests/tdm/
test-results/
videos/
.DS_STORE
.env
.env.local
.env.prd
/.vscode
/reports/junit/results.xml
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/